<!DOCTYPE html>
<html>
<head>
    <title>Generate Nginx Config</title>
</head>
<body>
    <h1>Generate Nginx Configuration</h1>
    <form action="/generate" method="post">
        <label for="dnsname">DNS Name:</label><br>
        <input type="text" id="dnsname" name="dnsname"><br><br>
        <label for="ipaddress">IP Address:</label><br>
        <input type="text" id="ipaddress" name="ipaddress"><br><br>
        <label for="port">Port:</label><br>
        <input type="text" id="port" name="port"><br><br>
        <input type="submit" value="Generate Config">
    </form>
</body>
</html>
